
<div class="h-[596px]">
<iframe class="screen" [src]="videoUrl" alt=""></iframe>
<div class="h-sreen bg-white">
    <div class="content pt-[20%] px-24 absolute text-white bg-gradient-to-r from-black h-full flex flex-col flex-nowrap justify-end pb-[47px]">
        <div class="content">
        <h1 class="text-6xl font-bold">{{bannerTitle}}</h1>
        <p class="text-content inline-block py-6 text-xl w-1/4 flex-wrap">{{bannerOverView | descriptionPipe}}</p>
        </div>
        <div class="action-btn">
            <button class="bg-white text-black py-4  px-12 rounded-lg hover:opacity-70 transition-[1s]" >▶ Play</button>
            <button class="info-btn bg-#232222 text-white py-4 px-12 rounded-lg hover:opacity-50 transition-[1s]">more info</button> 
        </div>
    </div>
</div>
</div>
